<footer class="footer">
        <p style="padding: 1em 0"><span><%-config.author %> &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%><%- theme.since_year %> - <%}%><%- date(new Date(), 'YYYY') %></span>
            <span>
                <% if(theme.ICP_license) {%>
                <a href="http://www.miitbeian.gov.cn/" target="_blank"><%- theme.ICP_license %></a><br>
                <% } %>
                Power by <a href="http://hexo.io/" target="_blank">Hexo</a>
            </span>
        </p>
    </div>
</footer>
